<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
           <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <script>
    document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementsByTagName("form")[0];
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const result = document.querySelector('#response > div');
        const action = form.getAttribute('action');
        const method = form.getAttribute('method');
        fetch(action, {
            method: method,
            headers:{"content-type":"application/json"},
            body: JSON.stringify({"url":document.getElementById("url_input").value}),
        })
        .then(function(response) {
            if (response.ok) {
                return response.json();
            } else {
                return response.json();
            }
        })
        .then(function(output) {
                output.short_url?result.innerHTML=output.short_url :result.innerHTML=JSON.stringify(output);
        })
        .catch(function(error) {
            if (result) {
                result.innerHTML = 'Error: ' + error;
            }

            throw new Error(error);
        });
    });
});
      </script>
      <section id="response">
        <div></div>
      </section>
    </main>
  </body>
</html>
